:root {
  background-color: antiquewhite;
  font-family: manrope;
}

@font-face {
  font-family: "manrope";
  src: url("/fonts/manrope/Manrope[wght].woff2") format("woff2");
}

section {
  display: flex;
  width: 100%;
}

aside {
  flex: 1 0 50%;
}

aside img {
  aspect-ratio: 1 / 1;
  border-radius: 4px;
  max-width: 100%
}
